<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="show_chart">
    <div id="show_chart_div">
        <h2>This is the visualization of : {{column}} </h2>
        <img src="{{ chart }}" alt="Chart" style="max-width: 100%; border: 1px solid #ccc;">

        <h2>Summary :</h2>
        <ul>
            {% for key,value in summary.items() %}
                <li> <strong> {{key}} :</strong> {{value}} </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>